<html>

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- Header -->

	<!-- Novedades -->
	<section class="formulario">
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/user/singIn" method="POST">
				<div>
					<label for="email" class="formulario-datos">Email:</label>
					<input id="email" type="email" name="email" value="">
				</div>
				<br>
				<div>
					<label for="password" class="formulario-datos">Contraseña:</label>
					<input id="password" type="password" name="password" value="">
				</div>
				<br>
				<div>
				<label for="input" class="formulario-datos">Recordarme</label>
				<input type="checkbox" name="recordarme" value="true"></div>
<br>
				<div>
					<button type="submit">Enviar</button>
				</div>
			</form>
		</section>

			<!--Footer-->
			<%- include('./partials/footer') %>
			<!--Footer-->


</body>


</html>