<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/product/store" method%="POST">
				<div>
					<label for="marca">Marca:</label>
					<input id="marca" type="text" name="marca" value="">
				</div>

				<div>
					<label for="modelo">Modelo:</label>
					<input id="modelo" type="text" name="modelo" value="">
				</div>

				<div>
					<label for="descripcion">Descripcion:</label>
					<input id="descripcion" type="text" name="descripcion" value="">
				</div>
				<div>
					<input type="file" name="image" value="">
				</div>
				<div>
					<label for="color">Color:</label>
					<input id="color" type="text" name="color" value="">
				</div>



				<div>
					<button type="submit">Guardar sneaker</button>
				</div>
			</form>

			<!-- footer -->
			<%- include('./partials/footer') %>
			<!-- /footer -->
</body>

</html>