<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerlogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form method="get" action="/user/store" class="form-register-container">
					<input type="email" name="" class="form-register" placeholder="Ingrese su email">
					<input type="text" name="" class="form-register" placeholder="Nombre de usuario">
					<input type="text" class="form-register" name="contraseña" placeholder="Contraseña">
					<input type="date" class="form-register" name="fecha">
					<input type="number" class="form-register" name="DNI" placeholder="Número de documento">
					<input type="file" class="form-register" name="foto">
					<button type="submit"  name="" class="form-register-submit">enviar</button> 
				</form>
			</h2>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>