<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<html>

<head>
	<%- include('./partials/head') %>
</head>

<body>

	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %> 
		<main>
			<!-- Novedades -->
			<section class="formulario">
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Registrate a SNEAKERS AR</h2>
					</div>
					<form action="/user/store" method="POST" enctype="multipart/form-data">
						<div>
							<label for="name" class="formulario-datos">Nombre:</label>
							<input id="name" type="text" name="name" value="">
						</div>
						<br>
						<div>
							<label for="email" class="formulario-datos">Email:</label>
							<input id="email" type="text" name="email" value="">
						</div>
						<br>
						<div>
							<label for="password" class="formulario-datos">Contraseña </label>
							<input id="password" type="password" name="password" value="">
						</div>
						<br>
						<div>
							<label for="fecha de nacimiento" class="formulario-datos">Fecha de nacimiento:</label>
							<input id="Fecha de nacimiento" type="date" name="FechaDeNacimiento" value="">
						</div>
						<br>
						<div>
							<label for="numero de documento" class="formulario-datos">DNI:</label>
							<input id="numero de documento" type="text" name="dni" value="">
						</div>
						<br>
						<div>
							<input type="file" name="images" value="">
						</div>
						<br>
						<div>
							<button type="submit">Registrarme</button>
						</div>

					</form>
				</div>
			</div>
		</section>
		</main>
		<%- include('./partials/footer') %>

</body>

</html>