<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<html>

<head>
	<%- include('./partials/head') %>
</head>

<body>

	<%- include('./partials/header') %>
		<main>
			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Registrate</h2>
					</div>
					<form action="/user/store" method="POST" enctype="multipart/form-data">
						<div>
							<label for="name">Nombre:</label>
							<input id="name" type="text" name="name" value="">
						</div>
						<div>
							<label for="email">Email:</label>
							<input id="email" type="text" name="email" value="">
						</div>
						<div>
							<label for="password">contraseña </label>
							<input id="password" type="password" name="password" value="">
						</div>
						<div>
							<label for="fecha de nacimiento">Fecha de nacimiento:</label>
							<input id="Fecha de nacimiento" type="date" name="FechaDeNacimiento" value="">
						</div>
						<div>
							<label for="numero de documento">DNI:</label>
							<input id="numero de documento" type="text" name="dni" value="">
						</div>
						<div>
							<input type="file" name="images" value="">
						</div>
						<div>
							<button type="submit">Registrarme</button>
						</div>

					</form>
				</div>
			</div>
		</main>
		<%- include('./partials/footer') %>

</body>

</html>